body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {width: 7px;/* height: 440px; */}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
display:none;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
  -webkit-border-radius:10px;
  border-left:1px #999 #888;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius:10px;
background: #454d5c;
}

// loader
.loader {
  &.full{
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    z-index: 1;
  }
  img {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}